<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="assets/style.css">
    <title>accessories</title>
</head>

<body>
    <%- include('./common/header.ejs') %>



                  <!--accessory 1 -->
<div class="container-fluid py-5 ps-5 justify-content-center align-items-center hero hid">
    <h1 class="text-center">Acce<span class="text-primary">ssories</span></h1>
    <div class="pt-5"></div>
    <div class="row">
        <div class="card bnone" style="width: 18rem;">

            <img src="assets/images:vids/glass1.avif" alt="glass-1" class="igm" height="350" width="285">
            <div class="card-body text-center fs-5">
                <span>Joyride Shades</span>
                <br><span><i class="fa-solid fa-star fa-sm" style="color: #fec700;"></i>
                    <i class="fa-solid fa-star fa-sm" style="color: #fec700;"></i>
                    <i class="fa-solid fa-star fa-sm" style="color: #fec700;"></i>
                    <i class="fa-solid fa-star fa-sm" style="color: #fec700;"></i>
                    <i class="fa-solid fa-star-half fa-sm" style="color: #fec700;"></i>
                </span>
                <br><span>
                    &#8377; &nbsp; 499/-
                </span>
                <br><a href="/login"><button class="btn btn-warning">Add to Cart</button></a>

            </div>
        </div>
        <div class="card bnone" style="width: 18rem;">

            <img src="assets/images:vids/glass2.webp" alt="tshirt-1" class="igm" height="350" width="300">
            <div class="card-body text-center fs-5 ps-5">
                <span>RGB Shades</span>
                <br><span><i class="fa-solid fa-star fa-sm" style="color: #fec700;"></i>
                    <i class="fa-solid fa-star fa-sm" style="color: #fec700;"></i>
                    <i class="fa-solid fa-star fa-sm" style="color: #fec700;"></i>
                    <i class="fa-solid fa-star fa-sm" style="color: #fec700;"></i>
                    <i class="fa-solid fa-star-half fa-sm" style="color: #fec700;"></i>
                </span>
                <br><span>
                    &#8377; &nbsp; 499/-
                </span>
                <br><a href="/login"><button class="btn btn-warning">Add to Cart</button></a>

            </div>
        </div>

        <div class="card bnone" style="width: 18rem;">

            <img src="assets/images:vids/glass3.jpg" alt="tshirt-1" class="igm" height="350" width="300">
            <div class="card-body text-center fs-5">
                <span>Retro Shades
                </span>
                <br><span><i class="fa-solid fa-star fa-sm" style="color: #fec700;"></i>
                    <i class="fa-solid fa-star fa-sm" style="color: #fec700;"></i>
                    <i class="fa-solid fa-star fa-sm" style="color: #fec700;"></i>
                    <i class="fa-solid fa-star fa-sm" style="color: #fec700;"></i>
                    <i class="fa-solid fa-star-half fa-sm" style="color: #fec700;"></i>
                </span>
                <br><span>
                    &#8377; &nbsp; 499/-
                </span>
                <br><a href="/login"><button class="btn btn-warning">Add to Cart</button></a>

            </div>
        </div>

        <div class="card bnone" style="width: 18rem;">

            <img src="assets/images:vids/glass4.webp" alt="tshirt-1" class="igm" height="350" width="270">
            <div class="card-body text-center fs-5">
                <span>Regular Shades</span>
                <br><span><i class="fa-solid fa-star fa-sm" style="color: #fec700;"></i>
                    <i class="fa-solid fa-star fa-sm" style="color: #fec700;"></i>
                    <i class="fa-solid fa-star fa-sm" style="color: #fec700;"></i>
                    <i class="fa-solid fa-star fa-sm" style="color: #fec700;"></i>
                    <i class="fa-solid fa-star-half fa-sm" style="color: #fec700;"></i>
                </span>
                <br><span>
                    &#8377; &nbsp; 499/-
                </span>
                <br><a href="/login"><button class="btn btn-warning">Add to Cart</button></a>

            </div>
        </div>
    </div>
</div>
<!-- accessory 1 -->





    <%- include('./common/footer.ejs') %>
</body>

</html>