<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

<!--Bootstrap Link-->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>
<!-- ^ bootstrap script -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<!-- ^ jquery script -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<!-- ^ font awesome script -->

<link rel="stylesheet" type="text/css" href="assets/style.css">

</head>
<body>
     <!-- footer -->


     <div class="container-fluid navy text-light">
        <div class="row px-5 py-3">
            <h1 class="text-center">Want to Know More ?</h1>
            <h5 class="text-center pt-2">Drop us your email and someone from our support staff will contact you in no time!</h5>
            <div class="mb-5">
                <label for="exampleFormControlInput1" class="form-label">Email address:</label>
                <input type="email" class="form-control" id="exampleFormControlInput1"
                    placeholder="Tony@example.com"><br>
                <button class="btn btn-warning mt-1" style="width: 200px;">Submit</button>
            </div>
            <div class="col">
                <h3>Info</h3><br>
                Email us at<br> sales@StarkUni.com<br>
                Contact: +1 325 927 6451<br>
                Office Hours: Mon-Sat 10AM - 6PM (GMT-7)
            </div>
            <div class="col cco">
                <h3>Quick Links</h3>
                <br>
                <ul>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Courses</a></li>
                    <li><a href="#">Undergraduate Programs</a></li>
                    <li><a href="#">Postgraduate Programs</a></li>
                    <li><a href="#">Jobs</a></li>
                    <li><a href="#">Students Union</a></li>
                    <li><a href="#">Library Services</a></li>
                </ul>

            </div>
            <div class="col">
                <h3>Connect with us</h3>
                <br>
                <span>
                    <i class="fa-brands fa-facebook fa-lg" style="color: #fec700;"></i>&nbsp;
                    <i class="fa-brands fa-twitter fa-lg" style="color: #fec700;"></i>&nbsp;
                    <i class="fa-brands fa-instagram fa-lg" style="color: #fec700;"></i>&nbsp;
                    <i class="fa-brands fa-telegram fa-lg" style="color: #fec700;"></i>
                </span>
            </div>
            <div class="col">
                <h3>Location</h3>
                <br>
                10880 Malibu Point,<br>
                90265,<br>
                California
                
            </div>
        </div>

    </div>
    <!-- footer -->
</body>
</html>